# YouTube y Google Cloud
google-api-python-client==2.187.0
google-auth==2.41.0
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1
psycopg2-binary==2.9.11

# Data processing
pandas==2.3.3

# Utilidades
python-dotenv==1.2.1

# Airflow providers
apache-airflow-providers-google==19.1.0

